.Sede article {
  font-weight: bold;
}

.Sede {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 20px;
}
.introduzioneSedi {
  font-size: 20px;
  margin-bottom: 10px;
}

.Sede:hover{
  background-color: var(--nav);
  cursor: pointer;
}

.introduzioneSedi{
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
}

.Sede iframe {
  width: 400px;
  height: 400px;
}

.Sede a{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#slider-iframe{
  display: flex;
  justify-content: center;
}

#slider-iframe button{
  width: 40px;
  height: 40px;
  border: solid black 2px;
  outline: none;
  color: black;
  cursor: pointer;
  background: var(--nav);
  font-size: 20px;
  margin: 5px;
  justify-content: center;
}

.mov-btn-iframe, .mov-btn-iframe2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.puglia-pic{
  width: 700px;
  height: 400px;
}

#map-corpo{
  display: flex;
  justify-content: space-around;
}
