.Sede article {
  font-weight: bold;
}

.Sede {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 20px;
}
.introduzioneSedi {
  font-size: 20px;
}
#styleSedi {
  margin: 5px;
}

.Sede:hover{
  background-color: var(--nav);
  cursor: pointer;
}

.introduzioneSedi{
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
}

.map-description{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre colonne con larghezza uguale */
  grid-template-rows: auto auto; /* Due righe con altezza automatica */
  gap: 20px; /* Spazio tra le colonne */
}

.Sede iframe {
  width: 100%;
  height: 300px;
}

.Sede a{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.puglia-container{
  width: 100%;
}

