.imgKorea {
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 3px;
   width: 200px;
   height: 400px;
   align-self: auto;
}
.IMGDescription{
   display: flex;
   margin-bottom: 3px;
}
.Textimage{
    padding-left: 15px;
}
.MainTitle {
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
}
.Saluto {
    color:red;
    font-size: small;
    
}

.Table {
    margin-top: 10px;
    border-collapse: collapse;
}

th{
    background-color: red;
    padding: 5px;
    border-right: solid black;
    border-left: solid black;
    border-top: solid black;
    border-collapse: collapse;
}

td{
    border: solid black;
    padding: 5px;
}
.FraseFinale {
    margin-top: 5px;
}

footer{
    margin-top: 0px;
}