.imgKorea {
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 3px;
   width: 200px;
   height: 400px;
   align-self: auto;
}
.IMGDescription{
   display: flex;
   margin-bottom: 3px;
}
.Textimage{
    padding-left: 15px;
}
.MainTitle {
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
}
.Saluto {
    color:rgb(255, 0, 0);
    font-weight: bold;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Table {
    margin-top: 10px;
    border-collapse: collapse;
}

th{
    background-color: red;
    padding: 5px;
    border-right: solid black;
    border-left: solid black;
    border-top: solid black;
    border-collapse: collapse;
}

td{
    border: solid black;
    padding: 5px;
}
.FraseFinale {
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .imgKorea {
        width: 98%;
    }

    .IMGDescription{
        display: block;
        margin-bottom: 3px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .imgKorea {
        width: 95%;
        height: 55vh;
    }

    .IMGDescription{
        display: block;
        margin-bottom: 3px;
    }

    .IMGDescription div{
        text-align: center;
    }

    article{
        font-size: 30px;
    }
}