#offerta-corpo1, #offerta-corpo2, #offerta-corpo3{
    display:none;
    border: dotted var(--nav);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.formativa-title{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#toggleBtn1, #toggleBtn2, #toggleBtn3{
    margin-left: 20px;
    background-color: var(--nav);
    border-radius: 10px;
}

.formativa-title article{
    font-weight: bold;
    font-size: 25px;
}

#finestra-footer {
    border: solid 1px;
    width: 100px;
    position: absolute;
    right: 15px;
    top: 510px;
    background-color: var(--nav);
    visibility: hidden;
    text-align: center;
}

#tendina-menù {
    visibility: hidden;
    width: 100px;
    height: 53px;
    margin-left: 497px;
    background-color: var(--nav);
    color: black;
    text-align: center;
    font-size: 15px;
    position: absolute;
}

footer{
    margin-top: 190px;
}