@font-face{
    font-family: nav;
    src: url(beba.ttf);
}

@font-face{
    font-family: all-text;
    src: url(louis.ttf);
}

nav, #NavSecondaria button{
    font-family: nav;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: all-text;
}

:root{
    --primario: #9381FF;
    --nav: rgb(244, 211, 3);
    --midnav: #93b1f1;
    --sidebar-form: #d6b98e;
    --footer: #93b1f1;
    --fontnav: #ffffff;
    --font: black;
}