@font-face{
    font-family: nav;
    src: url(beba.ttf);
}

@font-face{
    font-family: all-text;
    src: url(louis.ttf);
}

#drop-menu{
    font-family: nav;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: all-text;
    background-color: #F5E8D2;
}

:root{
    --primario: #18008F;
    --nav: rgb(244, 211, 3);
    --footer: #18008F;
}