#tendina-menù {
  left: 37.5%;
}

#form-section{
  margin-top: 560px;
}

@media (max-width: 768px) {
  #form-section{
    margin-top: 495px;
    margin-bottom: 10px;
  }

  #tendina-menù {
    visibility: hidden;
    width: auto;
    background-color: var(--nav);
    color: black;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: calc(100%);
    left: 25%;
  }
}

