@import url(root.css);

#NavPrimaria{
  display: flex;
  background-color: var(--nav);
  width: 100%;
}

ul, li{
  list-style: none;
}

ul#menu{
  padding: 0;
  list-style: none;
  background-color: #2180f1;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

ul#menu li{
  margin:0;
  padding:0;
  float:left;
  display: block;
  position: relative;
  height: 40px;
}

ul#menu li a{
  float: left;
  padding:12px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration:none;
}

ul#menu li a:hover{
  background: black;
  color: var(--nav);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

ul#menu ul{
  margin:2px 0 0;
  padding:0;
  display:inline-block;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0px;
  z-index:2;
  background: #444;
  text-transform: uppercase;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  width: 100%;
}

ul#menu li:hover ul{
  opacity: 1;
  visibility: visible;
  text-transform: uppercase;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

ul#menu ul li{
  float: none;
  display: block;
  border: 0;
}

ul#menu ul a{
  padding: 10px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

ul#menu ul a:hover{
  background-color: black;
  color: var(--nav);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

#TextNav {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
}

.nav-icon{
  width: 22px;
  height: 22px;
}

h1{
  font-size: 65px;
  text-shadow: 2px 2px #2180f1;
}

h2{
  font-size: 35px;
  text-shadow: 2px 2px #2180f1;
}

hr{
  color: black;
}

.icon-menù{
  width: 15px;
  height: 12px;
  margin-right: 5px;
  margin-top: 5px;
}

a{
  text-decoration: none;
  color: black;
}

main{
  width: 100%;
  text-align: center;
}

#chiSiamo{
  margin-bottom: 10px;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#chiSiamoTitle{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.big-image-container{
  background-image: url("/assets/header-img.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  text-align: center;
  background-size: cover;
}

.big-title{
  background-color: rgba(84,83,83,0.3);
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

#slider{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

#img_slider{
  width: 100%;
}

#img_slider img{
  display: none;
  width: 100%;
  height: 300px;
}

#img_slider img:nth-child(1){
  display: block;
}

#slider button{
  width: 40px;
  height: 40px;
  border: solid black 2px;
  outline: none;
  color: black;
  cursor: pointer;
  background: var(--nav);
  font-size: 20px;
  margin: 5px;
}

#slider button:hover{
  background-color: black;
  color: var(--nav);
}

.mov-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 30px;
  width:50%;
  align-items: center;
}

#input-container legend{
  font-weight: bold;
}

input, select{
  background-color: var(--nav);
}

label{
  font-size: 20px;
}

.form-btn{
  background-color: var(--nav);
  margin-top: 5px;
  padding: 3px;
}

footer{
  background-color: var(--footer);
}

.footer-icons{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.all-icons,
.footer-text,
.footer-text2
{
  text-align: center;
}

.all-icons{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-size: 19px;
  padding-top: 10px;
}

.footer-text2{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.language-div{
  text-align: right;
  margin-right: 10px;
}

.footer-icons:hover{
  width: 40px;
  height: 40px;
}

.language-icon{
  width: 24px;
  height: 15px;
}

.flag-line{
  display: flex;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: black;
}

#welcome-container{
  font-size: 35px;
  width: 300px;
  text-shadow: 2px 2px #2180f1;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container legend{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}

.quiz-container{
  font-size: 25px;
  width: 50%;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-container button, #input-container button{
  margin: 5px;
  background-color: var(--nav);
  padding: 5px;
  font-size: 15px;
  width: max-content;
}

.quiz-container button:hover, #input-container button:hover{
  background-color: black;
  color: var(--nav);
}

#scoreIta{
  display: none;
}

#pick-up-container{
  display: flex;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .logo{
    width: 30%;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  #welcome-container{
    font-size: 35px;
    font-family: auto-type;
    width: 300px;
    text-shadow: 2px 2px #2180f1;
  }

  .big-image-container{
    height: 500px;
  }

  #img_slider img{
    width: 100%;
    height: 500px;
    display: none;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .logo{
    width: 30%;
  }

  h1{
    font-size: 35px;
  }

  h2{
    font-size: 25px;
  }
}
