@import url(root.css);

a{
    text-decoration: none;
    color: black;
}

#mainCorpo{
    width: 100%;
    padding: 20px;
    background-color: var(--primario);
}

main{
    display: flex;
    height: 60vh;
}

#chiSiamo p{
    font-weight: bold;
    font-size: 20px;
}

#slider{
    align-items: center;
    justify-content: center;
    display: flex;
}

#img_slider{
    width:100%;
}

#img_slider img{
    width: 100%;
    height: 45vh;
    display: none;
}

#img_slider img:nth-child(1){
    display: block;
}

#slider button{
    width: 40px;
    height: 40px;
    border: solid black 2px;
    outline: none;
    color: black;
    cursor: pointer;
    background: none;
    border-radius: 56px;
    font-size: 40px;
    transition: all 0.1s ease-in-out;
}

#slider-smart{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#img_slider-smart{
    width:100%;
}

#img_slider-smart img{
    width: 100%;
    height: 50vh;
    display: none;
}

#img_slider-smart img:nth-child(1){
    display: block;
}

#slider-smart button{
    width: 40px;
    height: 40px;
    border: solid white 2px;
    outline: none;
    color: black;
    cursor: pointer;
    background: none;
    border-radius: 25px;
    font-size: 40px;
    transition: all 0.1s ease-in-out;
}

.mov-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
} 
