@import url(root.css);

#NavPrimaria{
  display: flex;
  background-color: var(--nav);
  width: 100%;
}

ul, li{
  list-style: none;
}

ul#menu{
  padding: 0;
  list-style: none;
  background-color: #2180f1;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

ul#menu li{
  margin:0;
  padding:0;
  float:left;
  display: block;
  position: relative;
  height: 40px;
}

ul#menu li a{
  float: left;
  padding:12px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration:none;
}

ul#menu li a:hover{
  background: black;
  color: var(--nav);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

ul#menu ul{
  margin:2px 0 0;
  padding:0;
  display:inline-block;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0px;
  z-index:2;
  background: #444;
  text-transform: uppercase;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  width: 100%;
}

ul#menu li:hover ul{
  opacity: 1;
  visibility: visible;
  text-transform: uppercase;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

ul#menu ul li{
  float: none;
  display: block;
  border: 0;
}

ul#menu ul a{
  padding: 10px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

ul#menu ul a:hover{
  background-color: black;
  color: var(--nav);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.logo{
  width: 260px;
  height: 200px;
}

#TextNav {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
}

h1{
  font-size: 65px;
  text-shadow: 2px 2px #2180f1;
}

h2{
  font-size: 35px;
  text-shadow: 2px 2px #2180f1;
}

.icon-menù{
  width: 15px;
  height: 12px;
  margin-right: 5px;
  margin-top: 5px;
}

a{
  text-decoration: none;
  color: black;
}

#mainCorpo {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#chiSiamo{
  border: dotted var(--nav);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}

#chiSiamoTitle{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

#form-section{
  margin-top: 15px;
}

.input-container legend{
  padding-bottom: 10px;
  font-size: 25px;
  font-weight:bold;
}

#slider{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

#img_slider{
  width: 100%;
}

#img_slider img{
  width: 100%;
  height: 650px;
  display: none;
}

#img_slider img:nth-child(1){
  display: block;
}

#slider button{
  width: 40px;
  height: 40px;
  border: solid black 2px;
  outline: none;
  color: black;
  cursor: pointer;
  background: var(--nav);
  border-radius: 56px;
  font-size: 20px;
  margin: 5px;
}

.mov-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px;
}

form{
  margin-bottom: 10px;
  width: max-content;
  border: dotted var(--nav);
  margin: 0 auto;
}

label{
  font-size: 20px;
}

.form-btn{
  background-color: var(--nav);
  margin-top: 5px;
  padding: 3px;
}

footer{
  background-color: var(--footer);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer-icons{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.all-icons,
.footer-text,
.footer-text2
{
  text-align: center;
}

.footer-text{
  font-size: 19px;
}

.footer-text2{
  font-size: 15px;
  margin-top: 15px;
}

.language-div{
  text-align: right;
  margin-right: 10px;
}

.footer-icons:hover{
  width: 40px;
  height: 40px;
}

.language-icon{
  width: 24px;
  height: 15px;
}

.flag-line{
  display: flex;
}

video{
  width: 100%;
  height: 750px;
  pointer-events: none;
  object-fit: fill;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: black;
}

#welcome-container{
  font-size: 35px;
  font-family: auto-type;
  width: 300px;
  text-shadow: 2px 2px #2180f1;
  padding-top: 10px;
}

.quiz-container legend{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}

.quiz-container{
  font-size: 25px;
  border: dotted var(--nav);
  padding-top: 10px;
}

.quiz-container button{
  margin: 5px;
  background-color: var(--nav);
  padding: 2px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .logo{
    width: 260px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
  }

  #welcome-container{
    font-size: 35px;
    font-family: auto-type;
    width: 300px;
    text-shadow: 2px 2px #2180f1;
  }

  #img_slider img{
    width: 100%;
    height: 500px;
    display: none;
  }

  video{
    width: 100%;
    height: 550px;
    pointer-events: none;
    object-fit: fill;
  }
}

@media (min-width: 769px) and (max-width: 821px) {}

